<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfinalyearproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChooseLoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="CreateAccount" />
        <activity
            android:name=".CreateGamePost"
            android:label="CreateGamePost" />
        <activity
            android:name=".EditProfilePage"
            android:label="EditProfilePage" />
        <activity
            android:name=".FriendListPage"
            android:label="FriendListPage"/>
        <activity
            android:name=".GamePage"
            android:label="Game Page" />
        <activity
            android:name=".LoginPage"
            android:label="LoginPage" />
        <activity
            android:name=".MainActivity"
            android:label="Game Finder" />
        <activity
            android:name=".OtherUserAccountPage"
            android:label="OtherUserAccountPage" />
        <activity
            android:name=".PostPage"
            android:label="PostPage" />
        <activity
            android:name=".PrivateMessaging"
            android:label="PrivateMessaging" />
        <activity
            android:name=".UserAccountPage"
            android:label="UserAccountPage" />
    </application>

</manifest>