<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfinalyearproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ChooseLoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Game Finder"/>
        <activity
            android:name=".GamePage" />
        <activity
            android:name=".OtherGameList"
            android:label="OtherGameList" />
        <activity
            android:name=".CreateAccount"
            android:label="CreateAccount" />
        <activity
            android:name=".CreateGame"
            android:label="Create Game" />
        <activity
            android:name=".CreatePost"
            android:label="Create Post" />
        <activity
            android:name=".LoginPage"
            android:label="LoginPage" />
        <activity
            android:name=".PostPage"
            android:label="GameFinder" />
        <activity
            android:name=".UserAccountPage"
            android:label="UserAccountPage" />
    </application>

</manifest>